<div id="faq-like">

        <style scoped="scoped">
                .print_screen_figure{
                        text-align: center;
                        padding-bottom: 15px;
                        padding-top: 15px;
                }
                .print_screen_figure figcaption{
                        padding-top: 5px;
                }

                .print_screen_img{
                          box-shadow: 3px 3px 1px #ccc;
                          -webkit-box-shadow: 3px 3px 1px #ccc;
                          -moz-box-shadow: 3px 3px 1px #ccc;
                }
        </style>


	<h2 id="ufal-point-faq">ILC-CNR for CLARIN-IT repository<br/>About and Policies</h2>
	<div>hosted at <a href="http://www.ilc.cnr.it/en">Institute for Computational Linguistics, National Research Council, in Pisa</a></div>
	<div>member of <a href="http://idem.garr.it/en">IDEM Identity Federation<figure class="print_screen_figure"><img src="../themes/UFAL/images/idem_logo.png" class="print_screen_img" /></figure></a>
	</div>

    <hr />
	<ul id="faqs-list">
		<li><a href="#mission-statement">Mission Statement</a></li>	
		<li><a href="#terms-of-service">Terms of Service</a></li>	
		<li><a href="#about-repository">About Repository</a></li>
		<li><a href="#about-ufal">About ILC-CNR</a></li>
		<li><a href="#about-contracts">License Agreement and Contracts</a></li>			
		<li><a href="#about-ipr">Intellectual Property Rights</a></li>
		<li><a href="#privacy-policy">Privacy Policy</a></li>
		<li><a href="#metadata-policy">Metadata Policy</a></li>
		<li><a href="#preservation-policy">Preservation Policy</a></li>
		<li><a href="./cite">Citing Data Policy</a></li>
	</ul>
    <hr />
	<div>
		<h3 id="mission-statement">Mission Statement</h3>
		<br/>
		<p>
			The ultimate objective of CLARIN ERIC is to advance research in humanities and social sciences by giving researchers unified single sign-on access to a platform which integrates language-based resources and advanced tools at a European level. This shall be implemented by the construction and operation of a shared distributed infrastructure that aims at making language resources, technology and expertise available to the humanities and social sciences (henceforth abbreviated HSS) research communities at large.	
		</p>
		<p>
			To know more about CLARIN ERIC visit <a href="http://www.clarin.eu/sites/default/files/centres-CLARIN-ShortGuide.pdf">CLARIN-ShortGuide.pdf</a>
		</p>
	</div>	
	<br/>
	<div>
		<h3 id="terms-of-service">Terms of Service</h3>
		<p>
        To achieve our mission statement,we set out some ground rules through the <a href="./terms-of-service">Terms of Service</a>. By accessing or using any kind of data or services provided by the Repository, you agree to abide by the Terms contained in the above mentioned document.
        </p>
        <p>
        Data in ILC-CNR for <a href="http://www.clarin-it.it">CLARIN-IT</a> repository are made available under the licence attached to the resources. In case there is no licence, data is made freely available for access, printing and download for the purposes of non-commercial research or private study.

        Users <strong>must</strong> acknowledge in any publication, the Deposited Work using a persistent identifier (see <a href="#citing-data">Citing Data</a>), its original author(s)/creator(s), and any publisher where applicable. Full items must not be harvested by robots except transiently for full-text indexing or citation analysis. Full items must not be sold commercially unless explicitly granted by the attached licence without formal permission of the copyright holders.
        </p>
	</div>

	<br/>
	<div>
		<h3 id="about-repository">About Repository</h3>
		<p>It is like a library for linguistic data and tools.</p>
		<ul>
			<li>Search for data and tools and easily download them.</li>
			<li>Deposit the data and be sure it is safely stored, everyone
				can find it, use it, and correctly cite it (giving you credit)</li>
		</ul>
	</div>
	<br/>	
	<div>
		<h3 id="about-ufal">About ILC-CNR</h3>
		<p>

Founded as an independent institute of CNR in 1980, ILC has a consolidated position as leading centre of reference in the field of Computational Linguistics at both the national and international levels. The Institute is involved in research, enhancement, technological transfer and training activities in strategic scientific areas of the discipline.<br/>

The main areas of competence of the Institute are represented by: Text Processing and Computational Philology; Natural Language Processing and Knowledge Extraction; Resources, Standards and Infrastructures; Computational Models of Language Usage. The studies carried out within each area are highly interdisciplinary and involve different professional  skills and expertises that extend across the disciplines of Linguistics, Computational Linguistics, Computer Science and Bio-Engineering.<br/>

The wide range of competence areas of ILC together with the variety of its lines of activity and research projects makes the Institute a unique reality in Italy and one of the few at the international level. ILC activities range from innovative research in the field of Digital Humanities, to the definition of representation standards and distributed research infrastructures. Advanced methods and techniques for the knowledge management of Web content or document collections within Intranets are combined with computational models of language learning in ecological contexts of communicative interaction.<br/>

Research at ILC combines basic research, also including frontier research, with applied (goal-oriented) research within a virtuous circle, with a potential impact on culture, society and the economic system. Research is carried out within a consolidated network of national and international collaborations with research institutes, universities and public bodies, as well as companies involved in European, national and regional research projects.

		</p>
	</div>
	<br/>
	<div>
		<h3 id="about-contracts">License Agreement and Contracts</h3>
		<p>At the moment, ILC-CNR distinguishes three types of contracts.</p>
		<ul>
			<li>For every deposit, we enter into a standard contract with the submitter, the so-called <a id="distribution-link" href="contract">"Distribution License Agreement"</a>, in which we describe our rights and duties and the submitter acknowledges that they have the right to submit the data and gives us (the repository centre) right to distribute the data on their behalf.</li>
			<li>Everyone who downloads data is bound by the licence assigned to the item - in order to download protected data, one has to be authenticated and needs to electronically sign the licence. A list of available licenses in our repository can be found <a href="licenses" id="available-licenses">here.</a></li>
			<li>For submitters, there is a possibility for setting custom licences to items during the submission workflow.</li>
		</ul>
	</div>
	<br/>
	<div>
		<h3 id="about-ipr">Intellectual Property Rights</h3>
		<p>
As mentioned in the section <a href="#about-contracts">License Agreement and Contracts</a>, we require the depositor of data or tools to sign a Distribution License Agreement, which specifies that they have the right to submit the data and gives us (the repository centre) right to distribute the data on their behalf. This means that depositors are solely responsible for taking care of IPR issues before publishing data or tools by submitting them to us.
<br/>
Should anyone have a suspicion that any of the datasets or tools in our repository violate Intellectual Property Rights, they should contact us immediately at our help desk.
</p>
	</div>
	<br/>

	<div>
		<h3 id="privacy-policy">Privacy Policy</h3>
		<p>Read our <a href="https://dspace-clarin-it.ilc.cnr.it/repository/xmlui/page/privacypolicy">Privacy Policy</a> in order to learn how we manage personal data collected by the ILC-CNR for CLARIN-IT repository and services.
        </p>
	</div>
	<br/>

    <div>
		<h3 id="metadata-policy">Metadata Policy</h3>
		<p>
       Deposited content must be accompanied by <a href="metadata">sufficient metadata</a> describing its content, provenance and formats in order to support its preservation and dissemination. Metadata are freely accessible and are distributed in the public domain (under <a href="http://creativecommons.org/about/cc0">CC0</a>). However, we reserve the right to be informed about commercial usage of metadata from ILC-CNR for CLARIN-IT repository including a description of your use case at <a class="helpdesk-tolink" href="#">Help Desk</a>.
        </p>
	</div>
	<br/>

    <div>
		<h3 id="preservation-policy">Preservation Policy</h3>
		<p>
        ILC-CNR for CLARIN-IT is committed to the long-term care of items deposited in our repository and strives to adopt the current best practice in digital preservation.
        </p>
	</div>
	<br/>


</div>
